<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Circular Flowchart</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/kyr.css')}}"/>
</head>
<body>
    <div class="topnav">
        <div class="search-bar-container">
            <input type="text" class="search-bar" placeholder="Search...">
            <i class="fas fa-search search-icon"></i>
        </div>
  
        <div class="top-content">
        <a href="#">Skip to main Content</a>
        &nbsp;
       
        <a href="#">Hindi</a>
        &nbsp;
        <a href="#">English</a>
        </div>
</div>
<div class="top-navbar">
    <div class="logo">
    <table>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='images/satya.png') }}" alt="Image Description">
            </td>
        </div>
            <td>
                <div class="logo2">
                    <img src="{{ url_for('static', filename='images/text.png') }}" alt="Image Description">
            </div>
            </td>
        </tr>
    </table>
</div>
    <div class="navbar">
            &nbsp; &nbsp;
            <span class="user-icon">&#x1F464;</span>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="#">About_us</a>
            <a href="#">Contact</a>       
       </div>
   <div class="heading">
    <a href="{{ url_for('home') }}">Home</a> &raquo; <span>Know your Rights</span>
    <br>
    <h3><b>Know your Rights</b></h3>
    <hr>
    </div>
    <div class="list">
    <ul>
        <li><a href="{{ url_for('labour') }}">Labour rights/a></li>
        <li><a href="Consumer.html">Consumer Laws</a></li>
        <li><a href="Property.html">Property Laws</a></li>
        <li><a href="Tax.html">Tax Laws</a></li>
        <li><a href="Family.html">Family Laws</a></li>
    </ul>
    </div>
    <div class="image-container">
        <div class="image-item">
            <img src="{{ url_for('static', filename='images/photos1.jpeg') }}" alt="Image Description">
            <p>Documents required for Complain</p>
            
        </div>
        <div class="image-item">
            <img src="{{ url_for('static', filename='images/photos2.png') }}" alt="Image Description">
            <p>Levels of Government</p>
           
        </div>
        <div class="image-item">
            <img src="{{ url_for('static', filename='images/rights.png') }}" alt="Image Description">
            <p>Fundamental Rights</p>
            
        </div>
    </div>
    
    <footer>
        <div class="footer-content">
            <div class="footer-nav">
                <ul>
                    <li><u><a href="#">FAQs</a></u></li>
                    <li>|</li>
                    <li><u><a href="#">External Links</a></u></li>
                    <li>|</li>
                    <li><u><a href="#">Help</a></u></li>
                    <li>|</li>
                    <li><u><a href="#">Contact</a></u></li>
                    <li>|</li>
                    <li><u><a href="#">Disclaimer</a></u></li>
                    <li>|</li>
                    <li><u><a href="#">Feedback</a></u></li>
                </ul>
            </div>
        </div>
    </footer>
</body>